body {
  font-family: "Open Sans", "Times New Roman", serif;
  background: #3e3b4a;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.text {
  color: #898691;
}

.name-section {
  color: #ffc7b0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0 75px 0;
}

header .menu {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 22px;
}

header .menu .text {
  padding-left: 10px;
}

header .logotype {
  text-align: center;
}

header .logo {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

header .discription-logo {
  color: #898691;
  font-size: 13px;
  font-weight: 400;
}

header .search {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 22px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-home {
  width: 100%;
  height: 512px;
  background: url(img/square1-bg.jpg);
  margin-bottom: 20px;
  position: relative;
}

main .section-home .name-section {
  margin: 39px 0 26px 42px;
}

main .section-home h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 25px 43px;
}

main .section-home p {
  font-size: 36px;
  font-weight: 400;
  margin: 0px 0 76px 42px;
}

main .section-home a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid #ffe18f;
  line-height: 42px;
  padding: 0 6px 0 8px;
  margin: 0 0 30px 42px;
}

main .section-ACCESSORIES {
  width: 60.9803921569%;
  height: 484px;
  background: #71b6c3 url(img/square2-bg.png) no-repeat top right;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

main .section-ACCESSORIES .name-section {
  padding: 35px 0 21px 42px;
}

main .section-ACCESSORIES h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 23px 41px;
}

main .section-ACCESSORIES p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 0 166px 42px;
}

main .section-ACCESSORIES a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid #ffe18f;
  line-height: 42px;
  padding: 0 6px 0 8px;
  margin: 0 0 43px 42px;
}

main article {
  width: 37.0588235294%;
  height: 484px;
  text-align: center;
  background: #eb7b61;
  margin-bottom: 20px;
}

main article h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Times New Roman PSMT";
  padding: 77px 0 19px 0;
}

main article p.first {
  font-family: "Times New Roman PSMT";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.8px;
  padding-bottom: 42px;
}

main article input[type="email"] {
  margin: 0 auto;
  display: block;
  width: 285px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #ffd9d1;
  color: #ffd9d1;
  background: none;
  margin-bottom: 19px;
}

main article input::-webkit-input-placeholder {
  color: #ffd9d1;
}

main article input:-ms-input-placeholder {
  color: #ffd9d1;
}

main article input::-ms-input-placeholder {
  color: #ffd9d1;
}

main article input::placeholder {
  color: #ffd9d1;
}

main article input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 285px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #66689c;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

main article p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

main .section-CAMERAS {
  width: 260px;
  height: 420px;
  text-align: center;
  background: url(img/square4-bg.jpg);
  margin-right: 20px;
}

main .section-CAMERAS .name-section {
  margin: 34px 0 144px 0;
}

main .section-CAMERAS h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 121px;
}

main .section-CAMERAS a {
  display: inline-block;
  color: #3d3c4a;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  padding: 11px 10px 15px 12px;
  background-color: #ffe18e;
  margin-bottom: 2px;
}

main .section-SOUND {
  height: 420px;
  width: 260px;
  text-align: center;
  background: url(img/square5-bg.jpg);
  margin-right: 20px;
}

main .section-SOUND .name-section {
  margin: 34px 0 124px 0;
}

main .section-SOUND h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 104px;
}

main .section-SOUND a {
  display: inline-block;
  color: #3d3c4a;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  padding: 11px 10px 15px 12px;
  background-color: #ffe18e;
  margin-bottom: 2px;
}

main .section-CAMERAS-bottom-left {
  width: 45.0980392157%;
  background: #1ab467 url(img/square6-bg.png) no-repeat bottom right;
  position: relative;
}

main .section-CAMERAS-bottom-left .name-section {
  margin: 34px 0 18px 42px;
}

main .section-CAMERAS-bottom-left h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 22px 34px;
}

main .section-CAMERAS-bottom-left p {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 186px 34px;
}

main .section-CAMERAS-bottom-left a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid #ffe18f;
  line-height: 42px;
  padding: 0 6px 0 8px;
  margin: 0 0 23px 42px;
}

footer {
  margin: 56px 0 69px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copy {
  color: #898691;
  font-size: 14px;
  font-weight: 400;
}

footer .social a:first-child {
  padding-right: 22px;
}

@media (max-width: 1019px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .section-ACCESSORIES {
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  main article {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  main .section-CAMERAS {
    margin: 0;
  }
  main .section-SOUND {
    margin: 0;
  }
  main .section-CAMERAS-bottom-left {
    margin-top: 20px;
    width: 100%;
    -webkit-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media (max-width: 520px) {
  main .section-CAMERAS {
    margin-bottom: 20px;
  }
  main .section-home p {
    font-size: 24px;
    -webkit-transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}
/*# sourceMappingURL=style.css.map */